<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Home</title>
</head>
<body>
  <h1>Bem-vindo ao Sistema</h1>
  <p><a href="/login">Fazer Login</a></p>
  <p><a href="/cadastro">Cadastrar Usuário</a></p>
</body>
</html>
